In [2]:
#this is for connecting mysql with python
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",passwd="0124ec081116")
mycursor=mydb.cursor()
mycursor.execute("show databases")
for i in mycursor:
	print(i)

('bus_booking_system',)
('cinema_booking_system',)
('coffee_store',)
('human',)
('information_schema',)
('mysql',)
('performance_schema',)
('python_learner',)
('rebel',)
('sys',)

In [4]:
#this is for connecting mysql with python
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",passwd="0124ec081116")
mycursor=mydb.cursor()
try:
    db="create database School"
    mycursor.execute(db)
    print("Database created........................")
    
    
    
except:
    print("Database error...........................")

Database error...........................

In [4]:
#this is for connecting mysql with python
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",passwd="0124ec081116",database="School")
mycursor=mydb.cursor()
#create table 
#Table Student(st_id, st_name,st_class,st_email)
tc="""CREATE TABLE Students(
st_id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
st_name VARCHAR(255) NOT NULL,
st_class VARCHAR(255) NOT NULL,
st_email VARCHAR(255) NOT NULL);"""

mycursor.execute(tc)

In [3]:
#this is for connecting mysql with python
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",passwd="0124ec081116",database="School")
mycursor=mydb.cursor()
#inserting into Students............................................
inserting="""
INSERT INTO Students(st_name,st_class,st_email)
VALUES(%S,%S,%S);
"""
#t=('kamran','10','kamran@gmail')
#mycursor.execute(inserting,t)


sql_statement = "INSERT INTO Students (st_name,st_class,st_email) values(%s,%s,%s)"
val = [("Saram","10","saram@gmail"),('zeetu',12,"zeetu@gmail"),("Tanweer","9","tanweer@gmail")]
mycursor.executemany(sql_statement,val)
mydb.commit()

In [40]:
#this is for connecting mysql with python
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",passwd="0124ec081116",database="School")
mycursor=mydb.cursor()


print("Student_Id","\t","Student_Name","\t","Student_Class", "\t","Student_Email")
try:
    sql="select *FROM Students"
    mycursor.execute(sql)
    
    myresult=mycursor.fetchall()
    for x in myresult:
        print((x[0]),"\t","\t",x[1],"\t","\t",x[2],"\t","\t",x[3])
except:
    print("error.....................................................")

Student_Id 	 Student_Name 	 Student_Class 	 Student_Email
1 	 	 Shyam 	 	 10 	 	 shyam@gmail
2 	 	 zeeshan 	 	 12 	 	 zeeshan@gmail
3 	 	 Saram 	 	 10 	 	 saram@gmail
4 	 	 zeetu 	 	 12 	 	 zeetu@gmail
5 	 	 Tanweer 	 	 9 	 	 tanweer@gmail

In [46]:
#this is for connecting mysql with python
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",passwd="0124ec081116",database="School")
mycursor=mydb.cursor()
print("{:<15} {:<20}".format("Student_Id","Student_Name"))
try:
    sql="select st_id,st_name from Students"
    mycursor.execute(sql)
    # this gonna fetch only one row
    sdata=mycursor.fetchone()
    print("{:<15}{:^20}".format(sdata[0],sdata[1]))

except:
    print("error....................................")

Student_Id      Student_Name
1                     Shyam

In [8]:
#deleting from database
#this is for connecting mysql with python
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",passwd="0124ec081116",database="School")
mycursor=mydb.cursor()
your_id=int(input("Enter id to delete.."))
sql="Delete from Students WHERE st_id = %d "
try:
    mycursor.execute(sql,our_id)
    mydb.commit()
    print("Student data details deleted succesfully!!!")
except:
    print("error...............................")

Enter id to delete..2
error...............................

In [1]:
import pyodbc

In [8]:

import pypyodbc as odbc
DRIVER_NAME='SQL SERVER'
SERVER_NAME='TAUQUIR\\UNLEASHED'
DATABASE_NAME='player'
connection_string=f"""
DRIVER={{{DRIVER_NAME}}};
SERVER={SERVER_NAME};
DATABASE={DATABASE_NAME};
Trust_Connection=yes
"""
conn=odbc.connect(connection_string)
print(conn)

cursor = conn.cursor()
cursor.execute('SELECT * FROM player_stats')

for i in cursor:
    print(i)

<pypyodbc.Connection object at 0x000002E32C6D1850>
(1, 'afridi', 8000, 400)
(2, 'sachin', 25000, 200)
(3, 'jayasuriya', 16000, 300)